local   all             postgres                                   peer
local   all             {{ deploy_user }}                          peer
local   all             all                                        md5
host    all             all             127.0.0.1/32               md5
