# Force non-www version of the site
server {
  listen       {{ nginx.port }};
  server_name  www.{{ deploy_hostname }};
  return       301 http://{{ deploy_hostname }}$request_uri;
}

# Default server
server {
  listen {{ nginx.port }} default_server;
  server_name {{ deploy_hostname }};
  server_tokens off;
  root {{ deploy_dir }};

  access_log  {{ deploy_dir }}/log/nginx.access.log;
  error_log   {{ deploy_dir }}/log/nginx.error.log;

  passenger_enabled on;
  passenger_app_env production;
}
